@import './Title/Title.css';
@import './Subtitle/Subtitle.css';
@import './Name/Name.css';
@import './ContentTitle/ContentTitle.css';

.block {
    padding-top: 80px;
    padding-bottom: 75px;
    color: white;
    position: relative;
}


.block p:not(.subtitle) {
    line-height: 1.8;
    margin: 0 0 25px;
}