.content_title {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    margin: 50px 0 62px;
}

@media (max-width: 818px) {
    .content_title {
        margin-top: 0;
        margin-bottom: 30px;
    }
}