.banner_button {
    background: var(--btn-gradient);
    -webkit-box-shadow:  0px 4px 50px rgba(227, 176, 87, 0.45);
            box-shadow:  0px 4px 50px rgba(227, 176, 87, 0.45);;

    color: #fafafa;

    padding: 25px 51px;
    font-size: 20px;
    font-weight: 600;

    border-radius: 50px;

    outline: none;
    border: none;
}

@media (max-width: 768px) {
    .banner_button {
        padding: 15px 25px;
        font-size: 16px;
    }    
}

@media (max-width: 495px) {
    .banner_button {
        padding: 15px 25px;
        font-size: 12px;
    }    
}