.banner_bottom {
    position: absolute;
    bottom: 10%;
    left: 0;

    display: flex;
    justify-content: space-between;

    width: calc(100% - 20%);
    padding: 0 10%;
}

.banner_bottom a {
    color: #fafafa;
}

.banner_bottom p {
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
}

@media (max-width: 768px) {
    .banner_bottom {
        bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .banner_bottom a {
        margin-bottom: 10px;
    }
}