@import url('./NavigationMobile/NavigationMobile.css');
@import url('./Navigate/Navigate.css');
@import url('./Logo/Logo.css');
@import url('./Contacts/Contacts.css');


.header {
    padding-top: 55px;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.header a {
    color:  white;
}
.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header {
        padding-top: 35px;
    }
    
}