@import './components/Header/Header.css';
@import './components/Footer/Footer.css';

@import './containers/Main/Main.css';
@import './containers/About/About.css';
@import './containers/Partners/Partners.css';
:root {
  --main-color: #BA8E41;
  --btn-gradient: linear-gradient(180deg, #BE8E39 -30.14%, #E3B057 47.83%, #C5943F 130.82%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 0 10% ;
  width: calc(100% - 20%);
  margin: 0 auto;
}

.main  {
  padding-bottom: 123px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
