@import './components/Header/Header.css';
@import './components/Footer/Footer.css';

@import './containers/Main/Main.css';
@import './containers/About/About.css';
@import './containers/Partners/Partners.css';
@import './containers/Guarantee/Guarantee.css';
@import './containers/Contacts/Contacts.css';
@import './containers/FAQ/FAQ.css';
@import './containers/Conditions/Conditions.css';

:root {
  --main-color: #BA8E41;
  --btn-gradient: linear-gradient(180deg, #BE8E39 -30.14%, #E3B057 47.83%, #C5943F 130.82%);
}

.App {
  text-align: center;
}


.container {
  padding: 0 10% ;
  width: calc(100% - 20%);
  margin: 0 auto;
}

.page {
  position: relative;
}

.main  {
  padding-bottom: 123px;
}

@media (max-width: 1340px) {
  .container {
    padding: 0 5%;
    width: calc(100% - 10%);
  }
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 0;
  }
}