@import './Content/Content.css';

.banner {
    height: 875px;
    position: relative;
}

.banner > .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-bg {
    background: url('../../assets/img/mainBanner.png');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .banner > .container {
        align-items: flex-start;
        padding-top: 150px;
    }

    .banner {
        height: 580px;
    }
}